{% extends "base.html" %}
{% load static %}

{% block header %}
    <h1>Ваша корзина</h1>
    <table class="cart" style="width: 70%;
    margin-left: auto;
    text-align: center;
    color: #ffffff;
    margin-right: auto;">
        <thead>
        <tr>
            <th>Картинка</th>
            <th>Название</th>
            <th>Количество</th>
            <th>Удалить</th>
            <th>Цена за ед.</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href=''>
                            <img style="width: 20%; height: 20%; border-radius: 7px;" src="{{ product.img.url }}">
                        </a>
                    </td>
                    <td>{{ product.title_product }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a style="text-decoration: none;" href="{% url 'cart_remove' product.id %}">Удалить</a></td>
                    <td >{{ item.price }} p</td>
                    <td class="num">{{ item.total_price }} p</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Полная цена</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }} p</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a style="margin-bottom: 30px;" class="head-button"  href="{% url 'index' %}" >Обратно в магазин</a>
        <a class="head-button"  href=" {% url 'order' %} ">Оформить заказ</a>
    </p>
{% endblock %}